.git
.gitignore
.gitattributes
.env
.env.backup
.env.production
.editorconfig
.idea
.vscode
.fleet
.nova
.zed
.phpactor.json

node_modules
vendor

*.md
LICENSE
docker-compose.yml
setup.sh

tests
.phpunit.cache
phpunit.xml

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
